.global-nav {
    position: fixed;
    width: 100%;
    left: 0px;
    background-color: #252525;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    color: #BBB;
    height: 40px;
    top: 0;
    margin-top: 0;
    padding-top: 0;

    background-position: 0, -50;
    background-repeat: repeat-x;
    background-image: url(../images/background_nav.png);
}

.global-nav-content {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.global-nav-content ul {
    padding-left: 0px;
    margin-left: 0px;
}

.main-content {
    position: relative;
    top: 50px;
    z-index: -1;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    /*font-family: 'Bitstream Vera Sans Mono', Courier, monospace;*/
    font-family: 'OpenSans',Arial,Helvetica,sans-serif
}

.result {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.banner {
    color: red;
}
